version: "3"
services:
  postgres:
    image: postgres
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=bookshelf
    tty: true
    restart: always
    user: root
    volumes:
      - ./init:/docker-entrypoint-initdb.d

  pgweb:
    image: bookshelf
    container_name: bookshelf
    ports:
      - "8080:8080"
    environment:
      - GOOGLE_CLOUD_PROJECT=ca-willsbooster-test
      - HOST=postgres
    restart: always
    depends_on:
      - postgres